#N
clk
rst_n
start
done
busy

#E
act_west\[0\]
act_west\[1\]
act_west\[2\]
act_west\[3\]
act_west\[4\]
act_west\[5\]
act_west\[6\]
act_west\[7\]
act_west\[8\]
act_west\[9\]
act_west\[10\]
act_west\[11\]
act_west\[12\]
act_west\[13\]
act_west\[14\]
act_west\[15\]

#S
psum_south\[0\]
psum_south\[1\]
psum_south\[2\]
psum_south\[3\]
psum_south\[4\]
psum_south\[5\]
psum_south\[6\]
psum_south\[7\]
psum_south\[8\]
psum_south\[9\]
psum_south\[10\]
psum_south\[11\]
psum_south\[12\]
psum_south\[13\]
psum_south\[14\]
psum_south\[15\]

#W
wgt_north\[0\]
wgt_north\[1\]
wgt_north\[2\]
wgt_north\[3\]
wgt_north\[4\]
wgt_north\[5\]
wgt_north\[6\]
wgt_north\[7\]
wgt_north\[8\]
wgt_north\[9\]
wgt_north\[10\]
wgt_north\[11\]
wgt_north\[12\]
wgt_north\[13\]
wgt_north\[14\]
wgt_north\[15\]
